@import '../../styles/constants/colors';

.inner {
  width: 1200px;
  margin: 0 auto;
}
.movies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.25rem;
  padding-top: 8.75rem;
  min-height: 100vh;
  background-color: $BLACK;
}
