@import '../../styles/constants/colors';

.inner {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
}

.movie_wrap {
  padding-top: 8.75rem;
  .movies {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.25rem;
    min-height: 100vh;
    background-color: $BLACK;
    & .no_favorite_list {
      width: 100%;
      text-align: center;
      margin-top: -5.75rem;
    }
  }
}
