@use '/src/styles/constants/colors';

.app {
  height: fit;
  min-height: 100vh;
  background-color: black;
  color: white;
  width: 100%;
}

/*
@keyframes appLogoSpin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
*/
