@import 'src/styles/constants/colors';

select::-ms-expand {
  display: none;
}
.select_custom {
  -o-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.movie_sort {
  padding: 2rem 0;
  .select_wrap {
    display: inline-block;
    padding: 0 0.5rem;
    border: 1px solid $WHITE;
    select {
      position: relative;
      width: 10rem;
      height: 2.5rem;
      border: none;
      background: $BLACK;
      color: $WHITE;
      cursor: pointer;
    }
  }
}
