
.card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 14rem;
    height: 20rem;
    .card_title {
        width: 5rem;
    }
    & > img {
        object-fit: cover;
        width: 100%;
        position: block;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
      }
      & > img:hover {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
      }
}