@import '/src/styles/constants/colors';

.search_form {
  margin-right: 20px;
  display: flex;
  width: 400px;
  visibility: hidden;

  .search_form_input {
    height: 35px;
    width: 100%;
    color: $WHITE;
    border-radius: 10px 0 0 10px;

    padding: 20px 22px;
    font-size: 18px;
    line-height: 1.6;
  }
  .search_form_input::placeholder {
    color: $GRAY6;
  }

  .search_form_btn {
    padding-right: 7px;
    font-size: 1rem;
    height: 44px;
    width: 77px;
    color: $WHITE;
    background-color: transparent;
    border: 1.5px solid $WHITE;
    border-radius: 0 10px 10px 0;
    transition: all 0.2s linear;
  }
  .search_form_btn:hover {
    background-color: $GRAY3;
  }
}

.search_form_active {
  visibility: visible;
  animation: show_input 1s;
}

@keyframes show_input {
  from {
    opacity: 0;
    transform: translateX(40%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
