@import 'src/styles/constants/_colors.scss';
@import 'src/styles/base/_fonts.scss';
@import 'src/styles/mixins/_responsive.scss';

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5.75rem;
  z-index: 10;
  padding: 40px 40px 0 40px;
  top: 0;
  cursor: pointer;
  width: 100%;
  background-color: $BLACK;
  transition: 0.4s ease;
  &.hide {
    transform: translateY(-80px);
    visibility: hidden;
  }
}

.logo {
  color: $RED1;
  font-size: 2.9rem;
  transition: all 0.1s linear;
}

.logo:hover {
  transform: scale(1.1);
}

.header_btn {
  display: flex;

  .search_btn {
    padding-right: 20px;
  }

  .favorites_btn {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid $WHITE;
    border-radius: 20px;
    width: 7rem;
    transition: all 0.2s linear;
  }

  .favorites_btn:hover {
    background-color: $GRAY3;
  }
}

.md {
  display: none;
  @media only screen and (min-width: getMinBreakpoint(SD)) {
    display: contents;
  }
}
