.top-button {

  position: fixed;
  z-index: 99;
}

.top-btn {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 99;

  @media only screen and (min-width: getMinBreakpoint(SD)) {
    margin: 3rem;
  }
}