.top-button {
    width: 4rem;
    height: 4rem;
    bottom:4rem;
    right:4rem;
    position: fixed;
    z-index: 10;
}

.top-btn {
    position: fixed;
    bottom:0;
    right:0;
    margin: 3rem;
    padding: 1rem;
    border-radius: 3rem;
}