@import 'src/styles/constants/_colors.scss';

.dropdown {
  border: 2px solid;
  border-radius: 8px;
  padding: 10px;
  background-color: $GRAY3;
  margin-top: 50px;
  height: 60px;
  width: 348px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  cursor: default;
}

.close_button {
  height: 10px;
  cursor: pointer;
}
