@import 'src/styles/constants/_colors.scss';

.dropdown {
  border: 2px solid;
  border-radius: 8px;
  padding: 10px;
  background-color: $GRAY3;
  margin-top: 50px;
  height: auto;
  width: 348px;
  position: absolute;
  cursor: default;
  white-space: nowrap;
}

.search_icon {
  width: 100%;
  height: 100%;
  margin-right: 10px;
}

.close_button {
  height: 10px;
  cursor: pointer;
}

.dropdown_list {
  font-size: 17px;
}

.dropdown_close {
  padding: 10px 0;
  font-size: 12px;
  height: 10px;
  float: right;
  cursor: pointer;
}

.dropdown_item {
  font-size: 18px;
  padding: 8px 0;
  white-space: nowrap;
  cursor: pointer;

  mark {
    background-color: transparent;
    font-weight: bold;
    color: $WHITE;
  }
  span {
    font-weight: lighter;
  }
}
