@import 'src/styles/constants/_colors.scss';

.dropdown {
  border: 2px solid;
  border-radius: 8px;
  background-color: $GRAY3;
  margin-top: 50px;
  height: auto;
  width: inherit;
  position: absolute;
  cursor: default;
  white-space: nowrap;
  visibility: hidden;

  .dropdown_list {
    padding-top: 10px;
    font-size: 17px;
    .no_result {
      padding-top: 10px;
      padding-left: 20px;
    }

    .dropdown_result {
      padding: 10px 10px 10px 16px;
    }

    .dropdown_item {
      font-size: 18px;
      padding-top: 6px;
      padding-bottom: 6px;
      padding-left: 10px;
      white-space: nowrap;
      cursor: pointer;

      .search_icon {
        width: 100%;
        height: 100%;
      }

      mark {
        background-color: transparent;
        font-weight: bold;
        color: $WHITE;
      }
      span {
        font-weight: lighter;
      }
    }
  }
}

// .false_hidden {
//   visibility: hidden;
// }

.close_button {
  height: 10px;
  cursor: pointer;
}

.dropdown_close {
  padding: 3px 10px;
  font-size: 12px;
  height: auto;
  float: right;
  cursor: pointer;
}

.selectedDropDown {
  background-color: rgba($WHITE, 0.4);
}

.dropdown_item:hover {
  background-color: rgba($WHITE, 0.4);
}

.dropdown_open {
  visibility: visible;
}
