@import 'src/styles/constants/_colors.scss';
@import 'src/styles/base/_fonts.scss';

.modal-contents {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 100%;
  max-width: 51.649rem;
  height: 93%;
  overflow: hidden;

  .modal-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    filter: drop-shadow(0px 5.38107px 3.0749px rgba(0, 0, 0, 0.25));
    border-radius: 9.99341px;
  }

  .flex-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    margin: auto 0;
  }

  .modal-title {
    color: aliceblue;
    font-size: 2.75rem;
    padding: 1rem;
    line-height: 64px;
    font-family: 'Gowun Batang', serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .modal-rate {
    color: aliceblue;
    font-size: 1.4rem;
    line-height: 64px;
    font-family: 'Gowun Batang', serif;
    text-align: right;
    padding-right: 0.2rem;
    width: 30%;
  }

  .modal-description {
    color: aliceblue;
    font-size: 1.5rem;
    line-height: 35px;
    font-family: 'Gowun Batang', serif;
    display: flex;
    max-height: 10rem;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    padding-left: 1.2rem;
    padding-bottom: 1.2rem;
    margin-bottom: 1rem;
    & > p {
      height: 7rem;
      overflow: scroll;
      margin-right: 0.6rem;
    }
    & > div {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }
    .favorite__btn {
      font-size: 1.5rem;
      line-height: 33px;
      text-align: center;
      background-color: $RED2;
      margin: 1rem;
      margin-bottom: 1.2rem;
      padding: 0.12rem;
      width: 12.125rem;
      height: 4.75rem;
      border-radius: 13px;
    }
  }
}

.close__btn {
  position: absolute;
  right: 0;
  padding: 0.9rem;
}
